<!DOCTYPE html>
<html>
    <head>
        <title>Library</title>
    </head>
    <body>
        <div class='container'>
            <h1>The LORI BETH Library</h1>
            <a href='/books' class='btn btn-lg btn-success'>Browse all BOOKS</a>
            <a href='/authors' class='btn btn-lg btn-success'>Browse all AUTHORS</a>
        </div>
    </body>
</html>
