body {
    background: url('/img/lori.jpg');
    background-size: 33.3333%;
}

button.trash {
    border: none;
    background: transparent;
}

h1 {
    margin-bottom: 20px;
}

mark {
    background-color: #b3c6ff;
    border-radius: 3px;
    opacity: 0.9;
}

.well {
    overflow:hidden;
    background: white;
    opacity: 0.95;
}

.deleteButton {
    margin-top: 10px;
}

.inline {
    display: inline;
}

.late {
    border-color: #800000;
    background: #ffcccc;
}

.due {
    border-color: #ffcc00;
    background: #fff5cc;
}

.good {
    border-color: #005780;
    background: #e6f7ff;
}
