body {
    background: url('/img/lori.jpg');
    background-size: 33.3333%;
}

button.trash {
    border: none;
    background: transparent;
}

.well {
    overflow:hidden;
}

.deleteButton {
    margin-top: 10px;
}

.inline {
    display: inline;
}
